In [1]:
import numpy as np
import pandas as pd

In [2]:
a=1
type(1)

int

In [3]:
type(1.1)

float

In [4]:
type(np.nan)

float

In [5]:
type("1.1")

str

In [6]:
a=1
b=np.float64(a)
type(b)

numpy.float64

In [7]:
df=pd.read_excel("COVID.xlsx")

In [8]:
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-11-12,12,11,2020,146,4,Afghanistan,AF,AFG,38041757.0,Asia,3.848403
1,2020-11-11,11,11,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,3.464614
2,2020-11-10,10,11,2020,224,12,Afghanistan,AF,AFG,38041757.0,Asia,3.761656
3,2020-11-09,9,11,2020,80,3,Afghanistan,AF,AFG,38041757.0,Asia,3.695939
4,2020-11-08,8,11,2020,126,6,Afghanistan,AF,AFG,38041757.0,Asia,3.656508
...,...,...,...,...,...,...,...,...,...,...,...,...
55078,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
55079,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
55080,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
55081,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
55082,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [9]:
df.dtypes

dateRep                                                       datetime64[ns]
day                                                                    int64
month                                                                  int64
year                                                                   int64
cases                                                                  int64
deaths                                                                 int64
countriesAndTerritories                                               object
geoId                                                                 object
countryterritoryCode                                                  object
popData2019                                                          float64
continentExp                                                          object
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000           float64
dtype: object

In [39]:
df.memory_usage(deep=True)

Index                          128
dateRep                     440664
day                          55083
month                        55083
year                        110166
cases                       220332
deaths                      220332
countriesAndTerritories    3649904
geoId                      3243720
countryterritoryCode       3303704
continentExp               3460173
dtype: int64

In [40]:
df.sample(100).memory_usage(deep=True)

Index                       800
dateRep                     800
day                         100
month                       100
year                        200
cases                       400
deaths                      400
countriesAndTerritories    6653
geoId                      5900
countryterritoryCode       6000
continentExp               6296
dtype: int64

In [48]:
df.memory_usage(deep=True).sum()

1558188

In [33]:
df['day']=df['day'].astype(np.int8)
df['month']=df['month'].astype(np.int8)
df['year']=df['year'].astype(np.int16)
df['cases']=df['cases'].astype(np.int32)
df['deaths']=df['deaths'].astype(np.int32)

In [37]:
del df['popData2019']
del df['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000']

In [45]:
df['countriesAndTerritories']=df['countriesAndTerritories'].astype('category')
df['geoId']=df['geoId'].astype('category')
df['continentExp']=df['continentExp'].astype('category')
df['countryterritoryCode']=df['countryterritoryCode'].astype('category')