In [3]:
import pandas as pd
import numpy as np

In [4]:
a = 1.1
type(a)
type(np.nan) # float
b = np.float(a) #np.float64, int64, ...
type(b)

float

In [5]:
type(np.nan)
type(Nontype)

NameError: name 'Nontype' is not defined

In [18]:
df = pd.read_excel('COVID-19-geographic-disbtribution-worldwide.xlsx')
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-12-04,4,12,2020,119,5,Afghanistan,AF,AFG,38041757.0,Asia,7.107979
1,2020-12-03,3,12,2020,202,19,Afghanistan,AF,AFG,38041757.0,Asia,7.536455
2,2020-12-02,2,12,2020,400,48,Afghanistan,AF,AFG,38041757.0,Asia,7.005460
3,2020-12-01,1,12,2020,272,11,Afghanistan,AF,AFG,38041757.0,Asia,6.960772
4,2020-11-30,30,11,2020,0,0,Afghanistan,AF,AFG,38041757.0,Asia,6.416633
...,...,...,...,...,...,...,...,...,...,...,...,...
59765,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
59766,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
59767,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
59768,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
59769,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [7]:
df.dtypes

dateRep                                                       datetime64[ns]
day                                                                    int64
month                                                                  int64
year                                                                   int64
cases                                                                  int64
deaths                                                                 int64
countriesAndTerritories                                               object
geoId                                                                 object
countryterritoryCode                                                  object
popData2019                                                          float64
continentExp                                                          object
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000           float64
dtype: object

In [22]:
df.memory_usage(deep=True) # deep: pointer that points to heep, filed
df.sample(100).memory_usage(deep=True).sum()

27531

In [21]:
# Decrease dataset size
df['day'] = df['day'].astype(np.int8)
df['month'] = df['month'].astype(np.int8)
df['year'] = df['year'].astype(np.int16)
df['cases'] = df['cases'].astype(np.int32)
df['deaths'] = df['deaths'].astype(np.int32)

In [19]:
del df['popData2019']
del df['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000']

In [23]:
# string to categorical : volume, speed 
df['countriesAndTerritories'] = df['countriesAndTerritories'].astype('category')
df['geoId'] = df['geoId'].astype('category')
df['countryterritoryCode'] = df['countryterritoryCode'].astype('category')
df['continentExp'] = df['continentExp'].astype('category')